<!DOCTYPE html>
<html>
  <head>
    <title>Support Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <span class="navbar-brand mb-0 h1"><%= link_to "BPPWD.NET", root_url %></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-nav">
        <div class="navbar-nav">
          <%= link_to "Home", root_url, class: "nav-item nav-link active" %>
          <%= link_to "Dashboard", auth_dashboard_index_path, class: "nav-item nav-link" %>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-item nav-link") %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path, class: "nav-item nav-link") %>
            </li>
          <% end %>
        </div>
      </div>
    </nav>
    <% if current_page?(root_url) %>
      <%= render partial: "/layouts/home-jumbotron" %>
    <% end %>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div class="col">
          <% if alert %>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div>
          <% end %>
          <% if notice %>
            <div class="alert alert-warning" role="alert">
              <%= notice %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col"><%= yield %></div>
      </div>
    </div>
  </body>
</html>
